$Neutral800:#0C0C0C;
$Neutral700:#2B2B2B;
$Neutral600:#747474;
$Neutral500:#858585;
$Neutral400:#E3E3E3;
$Neutral300:#F4F4F4;
$Neutral200:#FBFBFB;

$gradientdark:rgba(17, 17, 17, 0.715);
$gradientlight:rgba(133, 133, 133, 0.116);


*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}
html{
    font-size: 62.5%;
}